.nav-buttons button {
  padding: 0.8rem 1.3rem;
  font-weight: bold;
  margin-left: 1rem;
  border: 1px solid white;
  border-radius: 0.25rem;
  background-color: transparent;
  color: white;
}
.nav-buttons button:last-child {
  box-shadow: none;
  background-color: white;
  color: #4a154b;
}

.nav-buttons2 button {
  padding: 0.8rem 1.3rem;
  font-weight: bold;
  margin-left: 1rem;
  border: 1px solid #4a154b;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #4a154b;
}
.nav-buttons2 button:last-child {
  box-shadow: none;
  background-color: #4a154b;
  color: white;
}
.nav-ul li:hover {
  border-bottom: 0.8px solid #fff;
  cursor: pointer;
}
